
<section>
    <!-- About Title Starts -->
    <div class="bl-box valign-wrapper">
        <div class="page-title center-align">
            <h2 class="center-align">
                <span data-hover="{{ site.about.section-title }}">{{ site.about.section-title }} </span>
                <span data-hover="{{ site.about.section-tagline }}">{{ site.about.section-tagline }}</span>
            </h2>
        </div>
    </div>
    <!-- About Title Ends -->
    <!-- About Expanded Starts -->
    <div class="bl-content">
        <!-- Main Heading Starts -->
        <div class="container page-title custom-page-title">
            <h2 class="center-align">
                <span>{{ site.about.section-title }}</span>
                <span>{{ site.about.section-tagline }}</span>
            </h2>
        </div>
        <!-- Main Heading Ends -->
        <div class="container infos">
            <!-- Divider Starts -->
            <div class="divider center-align">
                <span class="outer-line"></span>
                <span class="fa fa-vcard" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
            <!-- Personal Informations Starts -->
            <div class="row">
                <!-- Picture Starts -->
                <div class="col s12 m4 profile-picture show-on-medium-and-down section-padding">
                    <img src="images/woman.jpg" class="responsive-img my-picture" alt="My Photo">
                </div>
                <!-- Picture Ends -->
                <div class="col s12 m8 l12 xl12 personal-info section-padding">
                    <h6 class="uppercase"><i class="fa fa-user"></i> {{ site.about.personal-infos }}</h6>
                    <div class="col m12 l12 xl9 p-none">
                        <p class="second-font">{{ site.about.description }}</p>
                    </div>
                    <div class="col s12 m12 l6 p-none">
                        <ul class="second-font list-1">
                            <li><span class="font-weight-700">First Name: </span>{{ site.about.first-name }}</li>
                            <li><span class="font-weight-700">Last Name: </span>{{ site.about.last-name }}</li>
                            <li><span class="font-weight-700">Date of birth: </span>{{ site.about.date-of-birth }} </li>
                            <li><span class="font-weight-700">Nationality: </span>{{ site.about.nationality }}</li>
                            <li><span class="font-weight-700">Freelance: </span>{{ site.about.freelance }}</li>
                        </ul>
                    </div>
                    <div class="col s12 m12 l6 p-none">
                        <ul class="second-font list-2">
                            <li><span class="font-weight-700">Phone: </span>{{ site.about.phone }}</li>
                            <li><span class="font-weight-700">Address: </span>{{ site.about.address }}</li>
                            <li><span class="font-weight-700">Email: </span>{{ site.about.email }}</li>
                            <li><span class="font-weight-700">Spoken Langages: </span>{{ site.about.langages }}</li>
                            <li><span class="font-weight-700">Skype: </span>{{ site.about.skype }}</li>
                        </ul>
                    </div>
                    <a href="{{site.about.cv-download-link}}" class="btn font-weight-700">
                        {{ site.about.cv-download-text}} <i class="fa fa-file-pdf-o"></i>
                    </a>
                    <a href="{{ 'blog' | relative_url }}" class="btn btn-blog font-weight-700">
                        My Blog <i class="fa fa-edit"></i>
                    </a>
                </div>
            </div>
            <!-- Personal Informations Ends -->
        </div>
        <!-- Resume Starts -->
        {%- include sections/resume.html -%}
        <!-- Resume Ends -->
        <!-- Fun Facts Starts -->
        <div class="container badges">
            <div class="row">
                {%- for item in site.about.boxesStarts -%}
                <!-- Fact Badge Item Starts -->
                <div class="col s12 m4 l4 center-align">
                    <h3>
                        <i class="{{item.icon}}"></i>
                        <span class="font-weight-900">{{item.count}}+</span>
                    </h3>
                    <h6 class="uppercase font-weight-700">{{item.description}}</h6>
                </div>
                <!-- Fact Badge Item Ends -->
                {%- endfor -%}
            </div>
        </div>
        <!-- Fun Facts Ends -->
    </div>
    <!-- End Expanded About -->
    <img alt="close" src="{{'images/close-button.png' |relative_url}}" class="bl-icon-close" />
</section>