<section>
    <!-- Contact Title Starts -->
    <div class="bl-box valign-wrapper">
        <div class="page-title center-align">
            <h2 class="center-align">
                <span data-hover="get">get </span>
                <span data-hover="in touch">in touch</span>
            </h2>
        </div>
    </div>
    <!-- Contact Title Ends -->
    <!-- Expanded Contact Starts -->
    <div class="bl-content">
        <!-- Main Heading Starts -->
        <div class="container page-title center-align">
            <h2 class="center-align">
                {{site.contract.title}}
            </h2>
        </div>
        <!-- Main Heading Ends -->
        <div class="container">
            <!-- Divider Starts -->
            <div class="divider center-align">
                <span class="outer-line"></span>
                <span class="fa fa-envelope-open" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
            <div class="row contact section-padding">
                <!-- Contact Infos Starts -->
                <div class="col s12 m5 l5 xl4 leftside">
                    <!-- Contacts Starts -->
                    <h6 class="font-weight-700 uppercase">{{site.socials.phone.name}}</h6>
                    <span class="font-weight-400 second-font"><i class="{{site.socials.phone.icon}}"></i> {{site.socials.phone.value}}</span>
                    <h6 class="font-weight-700 uppercase">{{site.socials.email.name}}</h6>
                    <span class="font-weight-400 second-font"><i class="{{site.socials.email.icon}}"></i> {{site.socials.email.value}}</span>
                    <h6 class="font-weight-700 uppercase">{{site.socials.skype.name}}</h6>
                    <span class="font-weight-400 second-font"><i class="{{site.socials.skype.icon}}"></i> {{site.socials.skype.value}}</span>
                    <h6 class="font-weight-700 uppercase">{{site.socials.address.name}}</h6>
                    <span class="font-weight-400 second-font"><i class="{{site.socials.address.icon}}"></i>  {{site.socials.address.value}}</span><br>
                    <!-- Contacts Ends -->
                    <!-- Social Media Profiles Starts -->
                    <h6 class="font-weight-700 uppercase">Social Profiles</h6>
                    <div class="social">
                        <ul class="list-inline social social-intro center-align p-none">
                            <li class="{{site.socials.facebook.class}}">
                                <a href="{{site.socials.facebook.value}}">
                                <i class="{{site.socials.facebook.icon}}"></i>
                                </a>
                            </li>
                            <li class="{{site.socials.twitter.class}}">
                                <a href="{{site.socials.twitter.value}}">
                                <i class="{{site.socials.twitter.icon}}"></i>
                                </a>
                            </li>
                            <li class="{{site.socials.google.class}}">
                                <a href="{{site.socials.google.value}}">
                                <i class="{{site.socials.google.icon}}"></i>
                                </a>
                            </li>
                            <li class="{{site.socials.linkedin.class}}">
                                <a href="{{site.socials.linkedin.value}}">
                                <i class="{{site.socials.linkedin.icon}}"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Social Media Profiles Ends -->
                </div>
                <!-- Contact Infos Ends -->
                <!-- Contact Form Starts -->
                <div class="col s12 m7 l7 xl8 rightside">
                    <h6 class="uppercase m-none font-weight-700">Feel free to drop me a line</h6>
                    <div class="row">
                        <p class="col s12 m12 l12 xl10 second-font">
                            If you have any suggestion, project or even you want to say Hello.. Please fill out the form below and I will reply you shortly.
                        </p>
                    </div>
                    <form class="contactform" method="post" action="http://slimhamdi.net/moscow/demos/php/process-form.php">
                        <!-- Name Field Starts -->
                        <div class="input-field second-font">
                            <i class="fa fa-user prefix"></i>
                            <input id="name" name="name" type="text" class="validate" required>
                            <label class="font-weight-400" for="name">Your Name</label>
                        </div>
                        <!-- Name Field Ends -->
                        <!-- Email Field Starts -->
                        <div class="input-field second-font">
                            <i class="fa fa-envelope prefix"></i>
                            <input id="email" type="email" name="email" class="validate" required>
                            <label for="email">Your Email</label>
                        </div>
                        <!-- Email Field Ends -->
                        <!-- Comment Textarea Starts -->
                        <div class="input-field second-font">
                            <i class="fa fa-comments prefix"></i>
                            <textarea id="comment" name="comment" class="materialize-textarea" required></textarea>
                            <label for="comment">Your Comment</label>
                        </div>
                        <!-- Comment Textarea Ends -->
                        <!-- Submit Form Button Starts -->
                        <div class="col s12 m12 l9 xl8 submit-form">
                            <button class="btn font-weight-700" type="submit" name="send">
                                Send Message <i class="fa fa-send"></i>
                            </button>
                        </div>
                        <!-- Submit Form Button Ends -->
                        <div class="col s12 m12 l8 xl8 form-message">
                            <span class="output_message center-align font-weight-700 uppercase"></span>
                        </div>
                    </form>
                </div>
                <!-- Contact Form Ends -->
            </div>
        </div>
    </div>
    <!-- Expanded Contact Ends -->
    <img alt="close" src="images/close-button.png" class="bl-icon-close" />
</section>