<div class="resume-container">
    <div class="container">
        <div class="valign-wrapper row">
            <!-- Resume Menu Starts -->
            <div class="resume-list col l4 section-padding">
                <div class="resume-list-item is-active" data-index="0" id="resume-list-item-0">
                    <div class="resume-list-item-inner">
                        <h6 class="resume-list-item-title uppercase"><i class="fa fa-briefcase"></i> {{site.experience-title }}</h6>
                    </div>
                </div>
                <div class="resume-list-item" data-index="1" id="resume-list-item-1">
                    <div class="resume-list-item-inner">
                        <h6 class="resume-list-item-title uppercase"><i class="fa fa-graduation-cap"></i> {{site.education-title }}</h6>
                    </div>
                </div>
                <div class="resume-list-item" data-index="2" id="resume-list-item-2">
                    <div class="resume-list-item-inner">
                        <h6 class="resume-list-item-title uppercase"><i class="fa fa-star"></i> {{site.skills-title }}</h6>
                    </div>
                </div>
            </div>
            <!-- Resume Menu Ends -->
            <!-- Resume Content Starts -->
            <div class="col s12 m12 l8 resume-cards-container section-padding">
                <div class="resume-cards">
                    <!-- Experience Starts -->
                    {%- include sections/experience.html -%}
                    <!-- Experience Ends -->
                    <!-- Education Starts -->
                    {%- include sections/education.html -%}
                    <!-- Education Ends -->
                    <!-- Skills Starts -->
                    {%- include sections/skills.html -%}
                    <!-- Skills Ends -->
                </div>
            </div>
            <!-- Resume Content Ends -->
        </div>
    </div>
</div>