<section class="topleft">
    <div class="bl-box row valign-wrapper">
        <div class="row valign-wrapper mb-0">
            <div class="title-heading">
                <div class="selector uppercase" id="selector">
                    <h3 class="ah-headline p-none m-none">
                        <span class="font-weight-400">{{ site.topleft.wellcome }}</span>
                        <span class="my-name">{{ site.topleft.my-name }}</span>
                        <span class="ah-words-wrapper">
                            {{ site.topleft.description }}
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>


