
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{site.favicon | relative_url }}" type="image/x-icon" />

    {%- include seo.html -%}

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

    <!-- Template CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ 'css/font-awesome.min.css' | relative_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'css/jquery.animatedheadline.css' | relative_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'css/materialize.min.css' | relative_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'css/style.css' | relative_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'css/skins/yellow.css' | relative_url }}" />

    <!-- Style Switcher -->
    <!-- 
    <link rel="alternate stylesheet" type="text/css" title="blue" href="{{ 'css/skins/blue.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="blueviolet" href="{{ 'css/skins/blueviolet.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="goldenrod" href="{{ 'css/skins/goldrenrod.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="green" href="{{ 'css/skins/green.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="magenta" href="{{ 'css/skins/magenta.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="orange" href="{{ 'css/skins/orange.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="purple" href="{{ 'css/skins/purple.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="red" href="{{ 'css/skins/red.css' | relative_url }}" />
	<link rel="alternate stylesheet" type="text/css" title="yellow" href="{{ 'css/skins/yellow.css' | relative_url }}" />
	<link rel="alternate stylesheet" type="text/css" title="yellowgreen" href="{{ 'css/skins/yellowgreen.css' | relative_url }}" />
    -->

    <!-- Template JS Files -->
    <script src="{{ 'js/modernizr.custom.js' | relative_url }}"></script>

</head>
