<ul class="pagination center-align">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <li><a href="/blog"><i class="fa fa-angle-left"></i></a></a>
        {% else %}
            <li><a href="/blog/page/{{ paginator.previous_page }}"><i class="fa fa-angle-left"></i></a></li>
        {% endif %}
    {% else %}
        <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
    {% endif %}

    {% for i in (1..paginator.total_pages) %}
        {% if i == 1 %}
            {% if paginator.page == i %}
                <li class="active"><a href="#">{{ i }}</a></li>
            {% else %}
                <li><a href="/">{{ i }}</a></li>
            {% endif %}
        {% else %}
            {% if paginator.page == i %}
                <li class=" active"><a href="#">{{ i }}</a></li>
            {% else %}
                <li><a href="/blog/page/{{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
        <li><a href="/blog/page/{{ paginator.next_page }}"><i class="fa fa-angle-right"></i></a></li>
    {% else %}
        <li class="disabled"><a href="#"><i class="fa fa-angle-right"></i></a></li>
    {% endif %}
</ul>